#tollbar{
    --background: #003478;
    --color: #f4f5f8 ;
    font-family: Ubuntu;
}

#p1{
    margin-left: 10px;
    font-size: 20px;
    margin-top:10px;
}

ion-col{
    height:50px;
}
h3{
    text-align:center;
}
#p2{
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
    font-size: 15px;
    color:black;
    text-align:left ;
}