<ion-header>
  <ion-toolbar id='tollbar'>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <ion-buttons slot="start">
              <ion-back-button id='backb'
              text=""
              icon="arrow-back-outline"
              size='small'
              color='light'>
            </ion-back-button>
            </ion-buttons> 
          </div>
        </ion-col>
        
        <ion-col>
          <div>
            <p id='p1'>Arrefecimento</p>
          </div>
        </ion-col>
        <ion-col>
          <div>
            
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </ion-toolbar>
  </ion-header>
  <br>
  <div>
    <img src='assets/fakeyoutube.PNG' class="teste" width="300" height="200" >      
  </div>



<ion-content>

</ion-content>
