<ion-header>
  <ion-toolbar class='tollbar'>
    <ion-grclass>
      <ion-row>
        <ion-col>
          <div>
            <ion-buttons slot="start">
              <ion-back-button class='backb'
              text=""
              icon="arrow-back-outline"
              size='small'
              color='light'>
            </ion-back-button>
            </ion-buttons> 
          </div>
        </ion-col>
        <ion-col>
          <div>
            <p class='p1'>Assistência</p>
          </div>
        </ion-col>
        <ion-col>
          <div>
            
          </div>
        </ion-col>
      </ion-row>
    </ion-grclass>
    
  </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-list>
    <ion-item> Ford SP <ion-button  shape="round" (click)="presentAlert()" color='ford'size='default' class='button4'>
      <ion-icon name="call-outline"></ion-icon>
    </ion-button> </ion-item>
    <ion-item>Ford MG <ion-button  shape="round" (click)="presentAlert1()" color='ford' size='default' class='button4'>
      <ion-icon name="call-outline"></ion-icon>
    </ion-button> </ion-item>
    <ion-item>Ford RJ <ion-button  shape="round" (click)="callNow('11999788341')" color='ford' size='default' class='button4'>
      <ion-icon name="call-outline"></ion-icon>
    </ion-button> </ion-item>
    <ion-item> Ford RS <ion-button  shape="round" (click)="callNow('11999788341')" color='ford'size='default' class='button4'>
      <ion-icon name="call-outline"></ion-icon>
    </ion-button> </ion-item>
    <ion-item>Ford ES <ion-button  shape="round" (click)="callNow('11999788341')" color='ford' size='default' class='button4'>
      <ion-icon name="call-outline"></ion-icon>
    </ion-button> </ion-item>
    <ion-item>Ford MT <ion-button  shape="round" (click)="callNow('11999788341')" color='ford' size='default' class='button4'>
      <ion-icon name="call-outline"></ion-icon>
    </ion-button> </ion-item>
  </ion-list>
  
</ion-content>
