<link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>
<meta charset="UTF-8">
<ion-header>
  <ion-toolbar id='tollbar'>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <ion-buttons slot="start">
              <ion-back-button id='backb'
              text=""
              icon="arrow-back-outline"
              size='small'
              color='light'>
            </ion-back-button>
            </ion-buttons> 
          </div>
        </ion-col>
        <ion-col>
          <div>
            <p id='p1'>Cadastro</p>
          </div>
        </ion-col>
        <ion-col>
          <div>
            
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </ion-toolbar>
  </ion-header>



<ion-content>
<h2 class='container container2'>Falta Pouco!! </h2>
<p class='container container3'>Preencha todos os campos com seus dados para ter acesso ao seu painel: </p>

<ion-item  class='labelsenha1'>
  <ion-input type="text" placeholder ="Nome" [(ngModel)]="userRegister.name"></ion-input>
</ion-item>


<ion-item class ='labelsenha1' position="floating">
  <ion-input type="email" placeholder ="E-mail" [(ngModel)]="userRegister.email"></ion-input>
</ion-item>


<ion-item class ='labelsenha1' position="floating">
  <ion-input type="password" placeholder ="Senha" [(ngModel)]="userRegister.password"></ion-input>
</ion-item>


<ion-item class ='labelsenha1' position="floating">
  <ion-input type="text" placeholder ="CPF" [(ngModel)]="userRegister.cpf"></ion-input>
</ion-item>


<ion-item  class='labelsenha1'>
  <ion-label class ='euamobebeu'>Meu(s) Carro(s)</ion-label>
  <ion-select multiple="true" cancelText="Cancelar" okText="Ok" [(ngModel)]="userRegister.carro" >
    <ion-select-option value="KA">KA</ion-select-option>
    <ion-select-option value="EcoSport">EcoSport</ion-select-option>
    <ion-select-option value="Edge">Edge</ion-select-option>
    <ion-select-option value="Territory">Territory</ion-select-option>
  </ion-select>
</ion-item>

<br>
<br>
<ion-button class='button1' expand="block" color='ford' size='medium' (click)="register()" >Cadastrar</ion-button>




