<ion-header>
  <ion-toolbar id='tollbar'>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <ion-buttons slot="start">
              <ion-back-button id='backb'
              text=""
              icon="arrow-back-outline"
              size='small'
              color='light'>
            </ion-back-button>
            </ion-buttons> 
          </div>
        </ion-col>
        <ion-col>
          <div>
            <p id='p1'>Informações</p>
          </div>
        </ion-col>
        <ion-col>
          <div>
            
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card>
      <ion-card-header>
        <img src='assets/ford (2).png'  >
        <ion-card-subtitle>Meu Painel Ford</ion-card-subtitle>
        <ion-card-title>Por que usar?</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
       O Aplicativo surgiu com a missão de auxiliar os nossos clientes a identificar e resolver problemas relativamente simples nos carros, para que não tenham que sair de casa ou chamar alguém em tempo de covid
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Meu Painel Ford</ion-card-subtitle>
        <ion-card-title>Como usar?</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
      Câmera<br>Manual<br>Configurações<br>Informações<br> 
      </ion-card-content>
    </ion-card>
</ion-content>
