<ion-header>
  <ion-toolbar id='tollbar'>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <ion-buttons slot="start">
              <ion-back-button id='backb'
              text=""
              icon="arrow-back-outline"
              size='small'
              color='light'>
            </ion-back-button>
            </ion-buttons> 
          </div>
        </ion-col>
        <ion-col>
          <div>
            <p id='p1'>Tutoriais</p>
          </div>
        </ion-col>
        <ion-col>
          <div>
            
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </ion-toolbar>
  </ion-header>


<ion-content>
  <ion-card (click)="Arrefecimento()">
    <ion-card-header>
      <img src='assets/arrefecimento.PNG'  >
      <ion-card-subtitle>Meu Painel Ford</ion-card-subtitle>
      <ion-card-title class='titulo1'>Arrefecimento</ion-card-title>
    </ion-card-header>

    <ion-card-content>
     clique na imagem para tutorial completo
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src='assets/pneu.PNG'  >
      <ion-card-subtitle>Meu Painel Ford</ion-card-subtitle>
      <ion-card-title class='titulo1'>Trocar Pneu</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     clique na imagem para tutorial completo
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src='assets/Bateria.PNG'  >
      <ion-card-subtitle>Meu Painel Ford</ion-card-subtitle>
      <ion-card-title  class='titulo1'>Recarregar Bateria</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
    clique na imagem para tutorial completo
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src='assets/farol.PNG'  >
      <ion-card-subtitle>Meu Painel Ford</ion-card-subtitle>
      <ion-card-title class='titulo1'>Farol Queimado</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
    clique na imagem para tutorial completo
    </ion-card-content>
  </ion-card>

</ion-content>
