.container{
  font-family: Ubuntu;
  font-style:normal;
  font-variant: normal;
  font-weight: 400;
  color: #003478;
  line-height: 0.4;
  text-align: center;

}

.container2{
  font-weight: bold;
}
  
  #div1{
    font-family: Ubuntu;
    font-style:normal;
    font-variant: normal;
    font-weight: 700;
    text-align: center;
    margin-top:70px;
  
  }
  
  h1.teste{
    line-height: 0.4;
  }
  
  #p1{
    margin-top:20px;
    text-align: center;
    font-family: Ubuntu;
  }
  

  .pepe{
    font-size: 11px;
    text-align: center;
    color: black;
    margin-top: 0px;
 
  }

  .pepecamera{
    font-size: 11px;
    text-align: center;
    color: black;
    margin-top: 0px;
    margin-right:9px;
   
  }



  .pepemanual{
    font-size: 11px;
    text-align: center;
    color: black;
    margin-top: 0px;
    margin-right:6px;
 
  }

  .pepetutorial{
    font-size: 11px;
    text-align: center;
    color: black;
    margin-top: 0px;
    margin-right:5px;
   
  }

  .pepeassistencia{
    font-size: 11px;
    text-align: center;
    color: black;
    margin-top: 0px;
    margin-right:6px;
    
  }

  .pepeconfiguracao{
    font-size: 11px;
    text-align: center;
    color: black;
    margin-top: 0px;
    margin-right:4px;
  
  }

  .pepeinformacao{
    font-size: 11px;
    text-align: center;
    color: black;
    margin-top: 0px;
    margin-right:2px;
    
  }


      