
ion-content{
  --ion-background-color: #003478;
  --ion-text-color: #f4f5f8;
}

  
.button{
  color: #f4f5f8;
  font-family: Ubuntu;

}
#div1{
  font-family: Ubuntu;
  font-style:normal;
  font-variant: normal;
  font-weight: 700;
  text-align: center;
  margin-top:100px;

}

h1.teste{
  line-height: 0.4;
}

#p1{
  margin-top:20px;
  text-align: center;
  font-family: Ubuntu;
}
